<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div>
    <h4 class="titleCategory">Disfrutá de nuestros productos</h4>
</div>
<div class="row">
<% products.forEach(product => { if(product.status_id == "2") {%>
   <div class="col-sm-6 col-lg-4 fluid-category">
        <a class="a-category" href="/products/detail/<%=product.id%>">
        <img class="img-category" src="../../images/avatars/<%=product.avatar%>" alt="">
        <h2> <%= product.name %> </h2>
        </a>
        <p class="p-category"> <%= product.price %> </p>
    </div>  
<% }}) %>
</div>
<%- include('../partials/footer') %>