<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2>TU CARRITO</h2>
        </div>
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Precio Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach((product, idx) => { %>
                    <tr data-product="<%= idx %>">
                        <td scope="col">
                            <img class="cart" src="../images/avatars/<%= product.avatar %> " alt="<%= product.name %> "
                                width="100px">
                        </td>
                        <td scope="col"><%= product.name %> </td>
                        <td scope="col">
                            <input class="form-control" type="number" value="1" min="1">
                        </td>
                        <td scope="col" id="price">
                            $ 
                            <span>
                                <%= product.price %>
                            </span>
                        </td>
                        <td scope="col" id="sub-total">
                            $
                            <span>
                                <%= product.price %>
                            </span>
                        </td>
                        <td scope="col">
                            <form action="/products/cart/delete/<%= product.id%>?_method=DELETE" method="POST">
                                <button id="erase" type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>

                        <th scope="col">TOTAL</th>
                        <th scope="col">
                            <span id="total">

                            </span>
                        </th>
                        <td scope="col"></td>
                    </tr>
                    <tr>

                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>

                        <th scope="col" colspan="2" style="text-align: right;">

                            <button id="purchase" class="boton-register">REALIZAR ORDEN</button>

                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
</div>
<div class="pc_pay">
    <div class="pc_icons1">
        <i class="fas fa-truck"></i>
        <p>ENVIO SIN CARGO A PARTIR DE $1999 </p>
        <i class="fas fa-history"></i>
        <p>DEVOLUCIONES SIN CARGO</p>
    </div>
    <div class="pc_continue">
        <i class="fas fa-check"></i>
        <a href="/">
            <p>CONTINUAR COMPRANDO</p>
        </a>
    </div>
    <div class="pc_icons2">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
    </div>
    <div class="pc_medios">
        <p>Mercado pago</p>
        <p>Rapipago</p>
        <p>Pago Fácil</p>
    </div>
</div>


<div class="div-register">
    <p><a href="/" class="footer-register"> SUSCRIBITE, ENTERATE DE LAS NOVEDADES Y DESCUENTOS</a></p>
 </div>
 <%-include('../partials/carousel') %>
<%- include('../partials/footer') %>