<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="contenedor">
    <div class="row">
        <div class="div-detail col-12 col-lg-6">
            <img class="detail" src="../images/avatars/<%=productFind.avatar%>" alt="">
            <h2 class="display-sm"> <%= productFind.nombre %> </h2>
            <p class="display-sm"> <%= productFind.precio %> </p>
        </div>
        <div class="div-detail-content col-12 col-lg-6">
            <h2 class="display-sm"> <%= productFind.nombre %> </h2>
            <p class="display-sm"> <%= productFind.precio %> </p>
            <h2 class="center"> Color y talles</h2>
            <p class="center"> Color</p>
            <div class="color">
                <% if (productFind.color == '1') { %>
                    <p class="center">
                        <i class="far fa-circle fa-3x fa-lg"></i>
                    </p>
                </div>
                <% } else if (productFind.color == '15'){%>
                <p class="center">
                    <i class="fas fa-circle fa-3x fa-lg"></i>
                </p>
            </div>
            <% } else if (productFind.color == '2'){%>
            <p class="center">
                <i class="fas fa-circle fa-3x fa-lg gris"></i>
            </p>
        </div>
        <% } else if (productFind.color == '3'){%>
        <p class="center">
            <i class="fas fa-circle fa-3x fa-lg azul"></i>
        </p>
    </div>
    <% } else if (productFind.color == '4'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg verde"></i>
    </p>
    </div>
    <% } else if (productFind.color == '5'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg rojo"></i>
    </p>
    </div>
    <% } else if (productFind.color == '6'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg amarillo"></i>
    </p>
    </div>
    <% } else if (productFind.color == '7'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg naranja"></i>
    </p>
    </div>
    <% } else if (productFind.color == '8'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg bordo"></i>
    </p>
    </div>
    <% } else if (productFind.color == '9'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg rosa"></i>
    </p>
    </div>
    <% } else if (productFind.color == '10'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg celeste"></i>
    </p>
    </div>
    <% } else if (productFind.color == '11'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg natural"></i>
    </p>
    </div>
    <% } else if (productFind.color == '12'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg fucsia"></i>
    </p>
    </div>
    <% } else if (productFind.color == '13'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg lila"></i>
    </p>
    </div>
    <% } else if (productFind.color == '14'){%>
    <p class="center">
        <i class="fas fa-circle fa-3x fa-lg mostaza"></i>
    </p>
    </div>
    
    <% }   %>

<p class="center">Talles</p>
<form action="" method="post">
    <% if (productFind.talle  == '1') { %>
    <div class="talleIndumentaria">
        <label>
            <div class="talle">S</div>
        </label><input type="radio" name="talleindumentaria" value="s">
        <label>
            <div class="talle">M</div>
        </label><input type="radio" name="talleindumentaria" value="m">
        <label>
            <div class="talle">L</div>
        </label><input type="radio" name="talleindumentaria" value="l">
        <label>
            <div class="talle">XL</div>
        </label><input type="radio" name="talleindumentaria" value="xl">
    </div>
    <% } else if (productFind.talle  == '2'){%>
    <div class="talleCalzado">
        <label>
            <div class="talle">36</div>
        </label><input type="radio" name="talleCalzado" value="36">
        <label>
            <div class="talle">37</div>
        </label><input type="radio" name="talleCalzado" value="37">
        <label>
            <div class="talle">38</div>
        </label><input type="radio" name="talleCalzado" value="38">
        <label>
            <div class="talle">39</div>
        </label><input type="radio" name="talleCalzado" value="39">
        <label>
            <div class="talle">40</div>
        </label><input type="radio" name="talleCalzado" value="40">
        <label>
            <div class="talle">41</div>
        </label><input type="radio" name="talleCalzado" value="41">
        <label>
            <div class="talle">42</div>
        </label><input type="radio" name="talleCalzado" value="42">
        <label>
            <div class="talle">43</div>
        </label><input type="radio" name="talleCalzado" value="43">

    </div>
    <% }   %>
    <div class="descripcion">
    <p> <%= productFind.descripcion %> </p>
</div>
    <button type="submit" class="btn-detail">Añadir al carrito</button>
</form>
<form action="/productos/borrar/<%= productFind.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn-detail">Eliminar artículo</button>
</form>
</div>
</div>
<div class="row progress-bars">
    <div class="col-3 progress-bars-div">
        <section class="star-progress">
            <i class="fas fa-star fa-3x fa-lg"></i>
            <h4>4.3</h4>
        </section>
        <p>Puntuaciones</p>
    </div>
    <div class=" col-3 rating-stars">
        <i class="fas fa-star">5</i>
        <i class="fas fa-star">4</i>
        <i class="fas fa-star">3</i>
        <i class="fas fa-star">2</i>
        <i class="fas fa-star">1</i>
    </div>

    <div class="col-6 progress-bar-bars">
        <div class=" progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
</div>


</div>

<%-include('partials/carousel') %>
<%- include('partials/footer') %>