<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="container-profile">
    <div class="profile">
        <div class="row div-profile-name">
            <div class="col-12 col-sm-6">
                <h2 class="profile-name"> Hola <%= userLogged.first_name%> </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">
                <img class="profile-img" src="/images/avatarsUsers/<%= userLogged.avatar %>" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">
                <form>
                    <h2 class="profile-name-2"> Hola <%= userLogged.first_name %> </h2>
                    <input class="profile-input" type="text" value="<%= userLogged.email %>">
                    <button class="profile-button" type="submit">Actualizar datos</button>
                </form>

            </div>
        </div>

    </div>
</div>
<%- include('partials/footer') %>